.contactPhoneLi {
  color: blue;
  font-weight: bold;
  text-align: center;
}

.submitButton {
  margin-left: 25px;
}

.contactsheader {
  margin-left: 10px;
}

.input {
  width: 300px;
 max-width: 25%;
}